@page "/"
@inject IToastrService Toastr
<form>
    <div class="form-group">
        <label for="Title">Title*</label>
        <input type="text" class="form-control" id="Title" aria-describedby="Title" placeholder="Enter a title..." value=@Title onchange=@((e) => Title = (string)e.Value) />
        <small id="TitleHelp" class="form-text text-muted">The heading of the notification.</small>
    </div>
    <div class="form-group">
        <label for="Text">Text</label>
        <input type="text" class="form-control" id="Text" aria-describedby="Text" placeholder="Enter some text..." value="@Text" onchange=@((e) => Text = (string)e.Value)/>
        <small id="TextHelp" class="form-text text-muted">The body of the notification.</small>
    </div>
    <div class="form-group">
        <label for="Type">Type</label>
        <input type="text" class="form-control" id="Type" aria-describedby="Type" placeholder="Enter a type" value="@Type" onchange=@((e) => Type = (ToastType)Enum.Parse(typeof(ToastType),(string)e.Value))/>
        <small id="TypeHelp" class="form-text text-muted">The type (borderline color) of the notification. e.g. Info, Success, Warning, Error or nothing at all. </small>
    </div>
    <div class="form-group">
        <label for="Icon">Icon</label>
        <input type="text" class="form-control" id="Icon" aria-describedby="Icon" placeholder="Enter an absolute or online path to an image." value="@Icon" onchange=@((e) => Icon = (string)e.Value)/>
        <small id="TypeHelp" class="form-text text-muted">The icon displayed on the notification.</small>
    </div>
    <div class="form-group">
        <label for="Timeout">Timeout</label>
        <input type="text" class="form-control" id="Timeout" aria-describedby="Timeout" placeholder="Enter a timeout in ms eg. 3500" value="@Timeout" onchange=@((e) => Timeout = (int)e.Value) />
        <small id="TypeHelp" class="form-text text-muted">The timeout to let the notification(toast) fade away (in ms)</small>
    </div>
</form>



<button onclick=@SendToast>Send a toast!</button>

@functions
{
    private string Text { get; set; } = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
    private string Title { get; set; } = "Notification Title";
    private string Icon { get; set; } = "images/github.svg";
    private int Timeout { get; set; } = 4500;
    private ToastType Type { get; set; } = ToastType.Info;

    private async Task SendToast()
    {
        Toast newToast = await Toastr.CreateAsync(Title, Text, Type, Icon, Timeout, CallWhenClickedOnButton);
    }
    private void CallWhenClickedOnButton()
    {
        Console.WriteLine("Click on the toast, triggered this C# function.");
    }
}
